DirectoryIndex disabled

RewriteEngine On

# Apache strips Authorization
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# Serve existing files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .? - [L]

# Otherwise use front controller
RewriteRule .? app.php [L]

